*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	background-color: #
}

.headerMenu{
	background-color: #00B9ED;
	height: 56px;
	border-bottom: 0px;
	padding-left: auto;
	width: 100%;
}

#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo {
	width: 125px;

}

.logo img{
	width: 150px;
	height: 38px;
	padding-top: 5px;

}

.search_box{
	position: absolute;
	top: 13px;
	margin-left: 135px;

}

#search input[type="text"]{
	outline: none;
	border: 0 none;
	font:bold 12px Arial,Helvetica,Sans-serif;
	width: 350px;
	padding: 6px 15px 6px 35px;
	text-shadow: 0 2px 2px rgba(0, 0,0);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus{
	color: #6a6f75;
	width: 350px;
	text-shadow: 0 2px 2px rgba(0, 0,0);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0, 0, 0,0.2)inset;

}
